body {
    xfont: normal 16px/1.618em Arial, sans-serif;
    font: normal 16px/1.618em serif;
}

h3:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.notification-area {
    position: fixed;
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.notification {
    margin: 1em 0 0;
    padding: 1em;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #999;
}

.m0 {
    margin: 0;
}

input.notification {
    background: #ebebe8;
    xborder: 2px solid black;
}
